{% extends "base.html" %}

{% block content %}

<div class="separador"></div>
    
<div class="cont">        
   
    <h1 align = "center" >Ingrese los datos de la compra: </h1>
    <p>{{prod.id}}</p>
    <form enctype="multipart/form-data" style=" width: 50vw; margin-left : 25vw;" action="/compra/{{prod.id}}" method="POST">{% csrf_token%}
            <p>Nombre: <input type="text" name="nombre" class = "form-control"></p>
            <p>Correo: <input type="text" name="correo"class = "form-control"></p>
            <p>Direccion: <input type="text" name="direccion"class = "form-control"></p>
            
            
            <button align= "left" type="submit" class="btn btn-success">Completar compra</button>   
            
    </form>
</div>

<div class="separador"></div>

{% endblock %}